.all-games-show {
    padding: 40px 0;
    .card-game-row{
        .card-game-box{
            img{
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                min-height: 140px;
                object-fit: cover;
                object-position: right;
            }
            a{
                text-decoration: none;
            }
        }
    }
}
.card-heading{
    font-weight: 700;
}
.cardrow{
    border-radius: 20px;
    .card{
        border: 0;
            img{
            border-radius: 5px 5px 0 0;
        }
    }
}
.form-select {
  background-color: #f1f1f1; // custom gray
  color: #000;

  &:focus {
    border-color: #333;
    box-shadow: none;
  }
}