.primary-button{
    background: var(--secondary-color);
    color: var(--text-color);
    border-radius: 4px;
}
.nav-link{
    color: var(--text-color);
}
.dropdown-item{
    color: black;
}
.nav-link, .dropdown-item{
    text-transform: uppercase;
    font-weight: 600;
}
.h-login-button{
    padding: 8px 32px;
    svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    font-size: 1.5rem;
    transition: fill 200ms 
cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:first-child,
.navbar-expand-lg .navbar-nav .dropdown-menu a:first-child:hover{
    padding-top: 8px !important;
    border-radius: 4px 4px 0 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:last-child,
.navbar-expand-lg .navbar-nav .dropdown-menu a:last-child:hover{
    border-radius: 0 0 4px 4px;
    padding-bottom: 8px !important;
}