.page-width{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}